body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.account {
    max-width: 90%;
    margin: 4em auto;
    background-color: #07643C;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}

.account h1 {
    color: #fff;
    font-size: 2.2em;
    margin: 1em 0;
}

.box-container {
    display: flex;
    flex-direction: row;
    margin: 2em 0;
}

.box {
    flex: 1;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #F3FFE9;
    text-align: center;
}

.streak,
.level,
.performance {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 75%;
    margin: 1em 0;
}

.box h2 {
    text-align: left;
}
.account h2 {
    color: #0c590e;
    font-size: 1.8em;
    overflow: hidden;
    white-space: nowrap;
    margin: 0;
    letter-spacing: 2px;
    animation: typewriter 2s steps(18) infinite;
}

@keyframes typewriter {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

.account ul {
    list-style: none;
    padding: 0;
}

.account li {
    margin-bottom: 5px;
    font-size: 1.1em;
}

.streak {
    color: #28922b;
    font-size: 2.5em;
    margin-top: 0.5em;
}

.level {
    color: #1c8420;
    font-size: 1.5em;
}

.performance {
    color: #1d9521;
    font-size: 1.5em;
}

@media screen and (max-width: 1000px){
    .box-container {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 768px) {
    .account {
        padding: 3px;
    }
    .box-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .box {
        flex: 1 0 100%;
        margin-right: 0;
        width: 80%;
    }

    .account h1 {
        font-size: 1.25em;
    }

    .account h2 {
        font-size: 1.2em;
    }

    .account li {
        font-size: 0.8em;
    }

    .account p {
        font-size: .75em;
    }
}

@media screen and (max-width: 380px){
    .account h2 {
        animation: none;
        text-wrap: wrap;
    }
}