.quiz .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fdfdfd;
  min-height: 100vh;
  /* Change height to min-height to ensure it expands as needed */
  overflow-y: auto;
  /* Add vertical overflow and enable scrolling */
  /* background: linear-gradient(60deg, #0eb26b, #1e714d); */
}

.quiz .response-container {
  color: #fdfdfd;
  border-radius: 5px;
  margin-top: 2em;
  padding: 10px;
  background: linear-gradient(60deg, #097748, #0aa05f);

}

.quiz .page {
  border-radius: 5px;
  padding: 20px;
  background-color: #fdfdfd;
}

.quiz h1 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #0c452c;
}

button {
  margin: 30px 0;
  padding: 10px 20px;
  background: linear-gradient(60deg, #1e714d, #0eb26b);
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  transition: background-color 0.3s ease;
}

.quiz p {
  font-size: 18px;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}