/* Global Styles */
body {
  /* background-color: hsl(177, 61%, 53%); */
  color: #449342;
}

/* Header Styles */
.header {
  background-color: #02353C;
  color: #fff;
  /* Text color for the header */
}

/* Navigation Styles */
.navbar {
  background-color: #02353C;
}

.nav-link {
  color: #fff;
}

/* Accent Color for Buttons or Interactive Elements */
.button {
  background-color: #2EAF7D;
  color: #fff;
}

/* Secondary Accent Color */
.secondary-button {
  background-color: #C1F6ED;
  color: #fff;
}

/* Text Content */
/* .text-content {
  color: #449342;
} */

/* Other styles as needed */